.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calendarContainer {
  display: flex;
  transition: all 0.7s ease-in-out;
}

.styles_calendar {
  border-radius: 0rem;
}

.timeContainer {
  padding: 1rem;
  background-color: #313131;
  animation: appearLeft 0.5s cubic-bezier(0.2, 0, 0.175, 1);
  border-radius: 0rem 2rem 2rem 0rem;
}

.schedulerInfoContainer {
  padding: 1rem;
  background-color: #515151;
  animation: appearLeft 0.5s cubic-bezier(0.2, 0, 0.175, 1);
  border-radius: 0rem 2rem 2rem 0rem;
}

.confirmButton {
  margin: 2rem 0rem;
  padding: 0.5rem 1rem;
  background-color: tomato;
  border: none;
  outline: none;
  border-radius: 0.25rem;
}

@keyframes appearLeft {
  from {
    clip-path: polygon(0% 0%, 0% 100%, 0% 100%, 0% 0%);
  }

  to {
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
  }
}
