.container {
  width: 100%;
  height: 100vh;
  /* background-color: #12121f; */
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar {
  max-width: 45rem;
  width: 100%;
  background-color: #222227;
  box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
}

.month {
  position: relative;
  width: 100%;
  background-color: #0c3a9e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  text-align: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  border-radius: 1rem 1rem 0px 0px;
}

.monthActionsDiv {
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 2rem;
}

.monthActionsDiv button {
  background-color: transparent;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  outline: none;
  color: #fafafa;
  font-size: 1.5rem;
}

.month h1 {
  font-size: 2.5rem;
  font-weight: 400;
  text-transform: uppercase;
}

.weekdays {
  width: 100%;
  height: 5rem;
  padding: 0 0.4rem;
  display: flex;
  align-items: center;
}

.weekdays div {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  width: calc(44.2rem / 7);
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0.2rem;
  align-items: center;
}

.days div {
  font-size: 1.4rem;
  margin: 0.3rem;
  width: calc(40.2rem / 7);
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  transition: background-color 0.2s;
  border-radius: 0.5rem;
}

.currentDay {
  border: 2px solid #0c3a9e;
  background-color: #232323;
  border-radius: 1rem !important;
}

.days div:hover:not(.today) {
  background-color: #324875;
  cursor: pointer;
}

.prev,
.next {
  opacity: 0.25;
}

.today {
  background-color: #167e56;
}
